@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  @apply m-0 p-0 box-border;
}

h1 {
  font-size: clamp(24px, 9vw, 164px);
}

h2 {
  font-size: clamp(48px, 6vw, 96px);
}

input {
  @apply bg-transparent text-ashen-taupe border-b border-ashen-taupe pb-4;
}

input::placeholder {
  @apply text-ashen-taupe;
}

input:focus {
  @apply outline-none ring-0 border-demo-smoke text-demo-smoke;
}

.mask {
  @apply overflow-hidden;
}

.arrow-icon {
  @apply hover:fill-bridal-health;
}

.transparent-button {
  @apply bg-bridal-health bg-opacity-50 hover:text-bridal-health hover:bg-demo-smoke hover:bg-opacity-100 transition-all duration-500;
}

.transparent-button:hover .icon {
  @apply: text-bridal-health;
}

.label-card {
  @apply relative flex justify-between items-center w-full px-4 py-6 md:px-6 md:py-10 border-b border-ashen-taupe transition-colors duration-500 cursor-pointer hover:bg-demo-smoke;
}

.label-card h4 {
  @apply text-lg md:text-3xl lg:text-5xl uppercase font-semibold lg:tracking-tight transition-all duration-500;
}

.label-card-img {
  @apply absolute size-[150px] lg:size-[200px] object-cover object-center ml-[60%] mb-[8rem] hidden transition-all duration-1000 cursor-pointer rounded-md overflow-hidden pointer-events-none;
}

.label-card-details {
  @apply flex flex-col items-end text-[10px] md:text-xs lg:text-sm leading-none lg:leading-tight transition-all duration-500;
}

.label-card:hover .label-card-img {
  @apply md:block;
}

.label-card:hover h4 {
  @apply text-bridal-health translate-x-3;
}
.label-card:hover .label-card-details {
  @apply text-bridal-health -translate-x-3;
}

#contact p {
  font-size: clamp(16px, 1.3vw, 20px);
}

/* WEBKIT */
::-webkit-scrollbar {
  @apply w-[6px] bg-transparent;
}

::-webkit-scrollbar-thumb {
  @apply bg-[#EFEFEF] rounded-md mx-2;
}
